/* stylelint-disable no-descending-specificity */
@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-image: radial-gradient(circle, #6DCEFF30);

	div {
		overflow: visible !important;
	}
}

.box {
	display: flex;

	max-width: 590px;
	width: 100%;

	margin: 0 auto;
  position: absolute;
  top: 100px;
  left: 20%;

	opacity: 0;

	z-index: 20;

	@include tablet-small {
		flex-direction: column;
		left: 8px;
	}

	&__content {
		max-width: 332px;
		width: 100%;

		h3 {
			font-family: var(--font-act);
			font-size: 18px;
			line-height: 150%;
			color: var(--color-white);
			text-transform: uppercase;
		}

		p {
			font-family: var(--font-esq);
			font-size: 14px;
			line-height: 180%;
			color: var(--color-white-2);
		}
	}

	svg {
		width: 258px;
		height: 72px;

		margin-left: -40px;
  	margin-top: 20px;

		@include tablet-small {
			width: 180px;
			height: 100px;

			margin-left: 0;
			margin-top: 0;
		}
	}
}

.box2 {
	display: flex;

	max-width: 590px;
	width: 100%;

	margin: 0 auto;
  position: absolute;
  top: 100px;
	right: 5%;

	opacity: 0;

	z-index: 20;

	@include tablet-small {
		flex-direction: column;
		left: 8px;
	}

	&__content {
		max-width: 332px;
		width: 100%;

		h3 {
			font-family: var(--font-act);
			font-size: 18px;
			line-height: 150%;
			color: var(--color-white);
			text-transform: uppercase;
		}

		p {
			font-family: var(--font-esq);
			font-size: 14px;
			line-height: 180%;
			color: var(--color-white-2);
		}
	}

	svg {
		width: 258px;
		height: 72px;

		margin-right: 10px;
  	margin-top: 20px;

		@include tablet-small {
			width: 180px;
			height: 100px;

			margin-left: 0;
			margin-top: 0;
		}
	}
}

.box3 {
	display: flex;

	max-width: 590px;
	width: 100%;

	margin: 0 auto;
  position: absolute;
  top: 30%;
	left: 15%;

	opacity: 0;

	z-index: 20;

	@include tablet {
		left: 5%;
		top: 5%;
	}

	@include tablet-small {
		flex-direction: column;
		left: 8px;
	}

	&__content {
		max-width: 332px;
		width: 100%;

		h3 {
			font-family: var(--font-act);
			font-size: 18px;
			line-height: 150%;
			color: var(--color-white);
			text-transform: uppercase;

			@include tablet-small {
				font-size: 16px;
			}
		}

		p {
			font-family: var(--font-esq);
			font-size: 14px;
			line-height: 180%;
			color: var(--color-white-2);

			@include tablet-small {
				font-size: 12px;
			}
		}
	}

	svg {
		width: 258px;
		height: 72px;

		margin-left: -60px;
  	margin-top: -40px;

		@include tablet {
			margin-top: 20px;
			margin-left: -40px;
		}

		@include tablet-small {
			width: 180px;
			height: 100px;

			margin-left: 0;
			margin-top: 0;
		}
	}
}


.team {
	margin: 0 auto;
	max-width: 644px;


	display: flex;
	flex-direction: column;
	gap: 16px;
	z-index: 1;
	opacity: 0;

	padding-top: 65px;
	padding-bottom: 0;
	transform: translateX(-30%);

	@include desktop {
		top: 20px;
	}

	@include tablet-small {
		max-width: 336px;

		padding-top: 72px;
		padding-bottom: 72px;
		transform: translateX(0);
	}

	h2 {
		font-family: var(--font-act);
		font-size: 42px;
		line-height: 120%;
		letter-spacing: 50%;

		@include tablet-small {
			font-size: 32px;
			text-align: left;

			span {
				text-align: left;
			}
		}

		span {
			text-align: left;
		}
	}

	p {
		font-family: var(--font-esq);
		font-size: 14px;
		line-height: 150%;

		color: var(--color-white-2);

		@include tablet-small {
			font-size: 12px;
		}
	}

	> a {
		align-self: flex-end;
		width: max-content;
		transform: translateX(100%);

		@include tablet {
			align-self: normal;
			transform: translateX(0);
		}
	}
}

.friend {
	position: absolute;
	margin: 0 auto;
	max-width: 1130px;

	opacity: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;

	z-index: 21;
	top: 90px;

	@include tablet {
		top: 40px;
	}

	@include tablet-small {
		max-width: 336px;
		top: 50px;
	}

	div {
		display: flex;
		flex-direction: column;
		gap: 32px;

		@include tablet-small {
			gap: 12px;
		}

		h2 {
			font-family: var(--font-act);
			font-size: 42px;
			line-height: 120%;
			letter-spacing: 50%;
			text-align: center;

			@include tablet-small {
				font-size: 20px;

				text-align: left;

				span {
					text-align: left;
				}
			}
		}

		p {
			font-family: var(--font-esq);
			font-size: 20px;
			line-height: 150%;

			color: var(--color-white-2);
			text-align: center;

			@include tablet-small {
				font-size: 16px;

				text-align: left;
			}
		}
	}

}
