/* stylelint-disable CssSyntaxError */
/* stylelint-disable alpha-value-notation */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable color-function-notation */
/* stylelint-disable selector-class-pattern */
@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

/* stylelint-disable rule */
/* stylelint-disable rule */

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 260px; // Фиксированная высота контейнера
  position: relative;

  .pointsRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px; // Отступы между точками
    margin-bottom: 20px; // Фиксированный отступ от линии точек до карточки

    .point {
      width: 27px;
      height: 27px;
      cursor: pointer;
      transition: transform 0.3s ease;

      svg {
        transition: transform 0.3s ease;
      }

      &:hover svg {
        transform: scale(1.2);
      }

      &.hover svg {
        transform: scale(1.2);
      }
    }
  }

  .card {
    position: absolute;
    top: 60%; // Расположение карточки ниже линии точек
    width: 340px;
    height: 206px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
		background: center no-repeat url('../../../public/images/cardBackMob.webp');
    background-size: contain;
		backdrop-filter: blur(10px);
		border-radius: 25px 0;
		padding: 12px 34px;

    animation: fadeIn 0.3s ease;

    &:before {
      content: url('../../../public/images/left__angle.webp');
      top: 0;
      left: -3px;
      width: 44px;
      height: 20px;
      position: absolute;
    }

    &:after {
      content: url('../../../public/images/left__angle.webp');
      bottom: 0;
      right: -3px;
      width: 44px;
      height: 20px;
      rotate: 180deg;
      position: absolute;
    }

    .cardContent {
			font-family: var(--font-esq);
			font-weight: 400;
			line-height: 150%;

			h3 {
				font-size: 20px;
				font-weight: 400;
				line-height: 150%;

				@include tablet {
					font-size: 18px;
				}

				@include tablet-small {
					font-size: 16px;
				}
			}

			p {
				font-size: 13px;
				font-weight: 400;
				line-height: 150%;
				color: var(--color-white-2);

				@include tablet {
					font-size: 12px;
				}
			}
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(-10px);
      }

      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
